@model IEnumerable<BandsMVC.Models.Band>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Band List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@2/css/pico.min.css">
    <style>
        .band-card {
            text-decoration: none;
        }
    </style>

</head>
<body>
    <main class="container">
        <h1>Band List</h1>
        <div class="grid">
            @foreach (var band in Model)
            {
                <article>
                    <a href="Details/@band.Id" class="band-card">
                        <header>
                            <h2>@band.Name</h2>
                        </header>
                        <p>@band.Id</p>
                        @* <p>@band.Description</p> *@
                    </a>
                </article>
            }
        </div>
    </main>
</body>
</html>